*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
Project_Rules.md
Admin_rules.md
local.properties
.claude/
supabase/.temp
.kotlin/errors/errors-1782025516682.log
.kotlin/errors/errors-1782025516744.log
.kotlin/errors/errors-1782025610821.log
.kotlin/errors/errors-1782025610887.log
